wheel
gensim
flair
hyperopt
joblib
lxml
matplotlib
networkx
nltk
numpy
nvidia-ml-py3
Pillow
pyOpenSSL
PyYAML
requests
scikit-learn
scipy
torch
tqdm
transformers
germalemma
SPARQLWrapper
psutil
pytest
