wheel
gensim
hyperopt
joblib
lxml
matplotlib
networkx
nltk
numpy
Pillow
pyOpenSSL
PyYAML
requests
scikit-learn
scipy
torch
tqdm
transformers
germalemma
SPARQLWrapper
flair
psutil
germalemma
isort
black
pytest
